<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="baseDAO" class="com.domain.contacts.dao.BaseDAO">
		<property name="jdbcTemplate"><ref bean="jdbcTemplate"/></property>
	</bean>
	
			
	<bean id="contactsDAO" class="com.domain.contacts.dao.ContactsDAOImpl" parent="baseDAO">
	
	</bean>
	
	
</beans>
